nav > ul{
    display: flex;
    
}
nav li{
    padding: 5px 20px;
    list-style: none;
}
nav li .dropdown{
    display: none;
}
nav li:hover > .dropdown{
    display: block;
    position: absolute;
    background-color: #b2a7a7;
}





